{% extends "base.html" %}

{% block title %}Выбор книги для чтения{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/header.css">
{% endblock %}
{% block header %}
    <form action="/auth/logout" method="POST" style="text-align: right">
        <button type="submit">Выход</button>
    </form>
{% endblock %}
{% block content %}
    <form action="/books/select_book" method="POST">
        <p align="center">
            <a href="/books/war_and_peace">
            <img src="/static/images/scale_1200.jpg" class="image" /></a>
            <a href="/books/game_of_the_thrones">
            <img src="/static/images/_igra-prestolov.jpg" class="image" />
            </a>
        </p>
    </form>
{% endblock %}
{% block size %}
    .image { width: 200px;
    height: 300px; }
{% endblock %}
