<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор книги для чтения</title>
</head>
<body>
    <form action="/books/select_book" method="POST">
        <p align="center">
            <a href="/books/war_and_peace">
            <img src="/static/images/scale_1200.jpg" class="image" /></a>
            <a href="/books/game_of_the_thrones">
            <img src="/static/images/_igra-prestolov.jpg" class="image" />
            </a>
        </p>
    </form>

    <style>
    .image { width: 200px;
             height: 300px; }
    </style>
</body>
</html>