{% extends "base.html" %}

{% block title %}Выбор книги для чтения{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'header.css') }}">
{% endblock %}
{% block header %}
<form method="POST" action="/logout" style="text-align: right">
    <button type="submit">Выход</button>
</form>
{% endblock %}
{% block content %}
            <p class="text-center" style="display: flex; justify-content: center;">
                <a href="/war_and_peace">
                    <img src="{{ url_for('static', filename='images/scale_1200.jpg') }}" class="image" />
                </a>
                <a href="/game_of_the_thrones">
                    <img src="{{ url_for('static', filename='images/_igra-prestolov.jpg') }}" class="image" />
                </a>
            </p>
{% endblock %}
{% block size %}
.image {
width: 200px;
height: 300px;
}
{% endblock %}