<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Песнь льда и огня. Книга 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        pre {
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <form method="POST" action="/logout">
        <div class="container ">
            <h1>Цикл Песни Льда и Пламени. Книга 1 - Игра престолов</h1>
                {% for line in lines %}
                    <p>{{ line }}</p>
                {% endfor %}
        </div>
            <div class="pagination">
                {{ pagination.links }}
            </div>
    </form>
</body>
</html>