{% extends "base.html" %}

{% block title %}Песнь Льда и Огня. Книга 1{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'header.css') }}">
{% endblock %}
{% block header %}
    <form action="/books" method="GET" style="text-align: right;">
        <button type="submit">Назад к выбору книги</button>
    </form>
    <form action="/logout" method="POST"  style="text-align: right">
        <button type="submit">Выход</button>
    </form>
{% endblock %}
{% block style %}
    pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    }
{% endblock %}
{% block content %}
        <div class="container ">
            <h1>Цикл Песни Льда и Пламени. Книга 1 - Игра престолов</h1>
                {% for line in lines %}
                    <p>{{ line }}</p>
                {% endfor %}
        </div>
            <div class="pagination">
                {{ pagination.links }}
            </div>
{% endblock %}