{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'auth.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'error.css') }}">
{% endblock %}
{% block content %}
    <form action="/login" method="post">
        <div class="container">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Войти</button>
            <p>Нет аккаунта? <a href="/">Зарегистрироваться</a></p>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="error"> {{ message }} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}