{% extends "base.html" %}
{% load static %}

{% block title %}Выбор книги для чтения{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css'%}" type="text/css">
{% endblock %}
{% block header %}
    <form action="{% url 'logout' %}" method="POST"  style="text-align: right">
        {% csrf_token %}
        <button type="submit">Выход</button>
    </form>

{% endblock %}
{% block content %}
    <p align="center">
        <a href="/books/war_and_peace">
            <img src="{% static 'images/scale_1200.jpg' %}" width="200" height="300"></a>
        <a href="/books/game_of_the_thrones">
            <img src="{% static 'images/_igra-prestolov.jpg' %}" width="200" height="300">
        </a>
    </p>
{% endblock %}